html{
    background-color: rgb(85, 43, 49);
}

body{display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2.5%;
}

#calculatorGrid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px;
    width: 470px;
    background-color: gray;
    padding: 10px;
}

#screen{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: auto;
    background-color: black;
    height: 31%;
    color: white;
    font-family: ;
    font-size: 700%;
    padding-right: 10px;
}

#rightSideButtons{
    display: flex;
    flex-direction: column;
    height: 370px;
    flex:2;
}

#buttons{
    display: flex;
    flex-direction: row;
}

#numberButtonGrid{
    display: flex;
    flex-direction: row;
    height: 400px;
    flex: 3;
    flex-wrap: wrap;
}

.numberButton{
    flex: auto;
    color: white;
    background-color: black;
    width: 22%;
    height: 18%;
    margin: 0px 5px 0 5px;
    font-size: 200%;
}

#operatorButtonGrid{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 225px;
    flex-wrap: wrap;
}

.operatorButton{
    margin-left:5px;
    margin-right: 5px;
    font-size: 200%;
    width: 60px;
    height: 39%;
    flex: auto;
}

#submitButtons{
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 200px;
    justify-content: space-between
}

.largeButtons{
    height: 43%;
    font-size: 200%;
    margin-left:5px;
    margin-right: 5px;
    margin-top: 4.5px;
}

#enter{
    background-color: #2B554F;
    color: white;
}